.submit-btn {
  display: inline-block;
  height: 36px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  @extend %font-secondary;
  @include font($size: 0.9rem, $letter: 0.1rem);
  text-transform: uppercase;
  color: $color-body-text;
  background-color: $color-btn-submit;
  padding: 0 20px;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $color-btn-submit_hover;
  }
}

.btn-group {
  display: flex;
}

.btn-edit_del {
  display: flex;
  align-items: center;
  --bs-btn-padding-x: 0.5em;
  --bs-btn-padding-y: 0.5em;
  --bs-btn-color: #adb5bd;
  --bs-btn-border-color: #adb5bd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #adb5bd;
  --bs-btn-hover-border-color: #adb5bd;
}

.success {
  --bs-btn-hover-bg: #198754;
}

.danger {
  --bs-btn-hover-bg: #dc3545;
}
