.table {
  width: calc(100vw - 390px);
  border-collapse: collapse;
}
.table th {
  font-weight: bold;
  color: $color-table_input_label-text;
  background-color: $color-table-bg;
  border-left: 1px solid $color-table_input-border;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 10px 5px 10px;
}
.table td {
  color: $color-table_input_label-text;
  background-color: $color-table-bg;
  border: 1px solid $color-table_input-border;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 10px 5px 10px;
  vertical-align: middle;
}

.table tr td:first-child,
.table tr th:first-child {
  border-left: none;
}

.table tr td:nth-child(1),
.thead tr th:nth-child(1) {
  width: 1%;
}
.table tr td:nth-child(2),
.thead tr th:nth-child(2) {
  width: 20%;
}
.table tr td:nth-child(3),
.thead tr th:nth-child(3) {
  width: 20%;
}
.table tr td:nth-child(4),
.thead tr th:nth-child(4) {
  width: 20%;
}
.table tr td:nth-child(5),
.thead tr th:nth-child(5) {
  width: 15%;
}
.table tr td:nth-child(6),
.thead tr th:nth-child(6) {
  width: 23%;
}
.table tr td:nth-child(7),
.thead tr th:nth-child(7) {
  width: 23%;
}
.table tr td:nth-child(8),
.thead tr th:nth-child(8) {
  width: 19%;
}
.table tr td:nth-child(9),
.thead tr th:nth-child(9) {
  width: 20%;
  border-right: none;
}
