.create_admin_title {
  color: $color-body-text;
  text-align: center;
  @include font($size: 2rem, $weight: 600);
}

.reg_inputs {
  width: 30%;
  margin-top: 50px;
  margin-left: 20px;
}

.reg_buttons {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}