.headBar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: $gradient-head_foot-bar-bg;
}

.headBar_nav {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout_svg,
.main_svg {
  width: 35px;
  height: 35px;
  fill: $color-body-text;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease-out;
  &:hover {
    fill: $color-logo-link;
  }
}

.logout_svg.active,
.main_svg.active {
  opacity: 1;
}

.logo_link {
  color: $color-body-text;
  text-decoration-line: none;
  cursor: pointer;
  @extend %font-secondary;
  @include font($size: 2rem, $weight: 600);
  transition: all 0.2s ease-out;
  padding-top: 1px;
  &:hover {
    color: $color-logo-link;
    text-decoration-line: none;
  }
}

.header {
  width: calc(100vw - 330px);
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth_user {
  width: 27.33vw;
  text-align: left;
  color: $color-body-text;
  @extend %font-secondary;
  @include font($size: 1.4rem, $weight: 600);
}
