.main {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.main_layout {
  width: calc(100vw - 330px);
  margin: 10px 0;
  padding-left: 20px;
}

.title_page {
  height: 35px;
  text-align: center;
  color: $color-body-text;
  border: 1px;
  border-radius: 10px;
  background-color: $color-title-page;
  @extend %font-secondary;
  @include font($size: 1.8rem, $style: italic, $weight: 400);
}

.main_page {
  height: calc(100vh - 145px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px;
  border-radius: 10px;
  background-color: $color-main-bg;
  font-size: 16px;
  margin-top: 10px;
  padding-bottom: 20px;
}
