$color-body-bg: #111111FF;
$color-body-text: #ffffff;
$color-btn-submit: #2196f3;
$color-btn-submit_hover: #39a1f4;
$color-sidebar-bg: #252525;
$color-input-auth-bg: #494747;
$color-sidebar-sel_hover: #42d312;
$color-title-page: #474747FF;
$color-main-bg: #2C2C2CFF;
$color-logo-link: rgba(255, 255, 255, 0.5);
$gradient-head_foot-bar-bg: linear-gradient(
                90deg,
                rgba(32, 62, 39, 1) 0%,
                rgba(40, 80, 50, 1) 100%
);


//$desktop-width: 1280px;
$desktop-width: 1279px;
$desk-tab-width: 1175px;

//$tablet-width: 768px;
$tablet-width: 767px;

//$mobile-width: 320px;
$mobile-width: 640px;